<h2>
  #{{this.id}} tank details
</h2>

<div *ngIf="tankDetails !== undefined">
  <p>Id: {{this.id}}</p>
  <p>Tag: {{tankDetails.tag}}</p>
  <p>Name: {{tankDetails.name}}</p>
  <p>Nation: {{tankDetails.nation}}</p>
  <p>Tier: {{tankDetails.tier}}</p>
  <p>Type: {{tankDetails.type}}</p>
  <p>Description: {{tankDetails.description}}</p>
  <p>Premium: {{tankDetails.is_premium}}</p>
  <div *ngIf="!tankDetails.is_premium; else goldPrice">
    <p>Price: {{tankDetails.price_credit}} credits</p>
  </div>
  <ng-template #goldPrice>
    <p>Price: {{tankDetails.price_gold}} gold</p>
  </ng-template>
  <p><img src="{{tankDetails.images.big_icon}}" alt="tank_image_{{this.id}}"/></p>

  <hr>

  <h2 (click)="toogleSection(0)" class="collapsible">Selected modules</h2>
  <div [hidden]="!displaySection[0]">
  <span>Total price: {{totalPrice}}</span>
  <ul>
    <li *ngFor="let module of selectedModules">
      <span>{{module.name}}</span>
    </li>
  </ul>
  </div>

  <hr>

  <h2 (click)="toogleSection(1)" class="collapsible">Guns</h2>
  <ul [hidden]="!displaySection[1]">
    <li *ngFor="let gun of tankDetails.guns">
      <app-tank-module-details 
        (selected)="onSelected($event)"
        [id]="gun" 
        [type]="'vehicleGun'">
      </app-tank-module-details>
    </li>
  </ul>

  <hr>

  <h2 (click)="toogleSection(2)" class="collapsible">Engines</h2>
  <ul [hidden]="!displaySection[2]">
    <li *ngFor="let engine of tankDetails.engines">
      <app-tank-module-details 
        (selected)="onSelected($event)"
        [id]="engine" 
        [type]="'vehicleEngine'">
      </app-tank-module-details>
    </li>
  </ul>

  <hr>

  <h2 (click)="toogleSection(3)" class="collapsible">Turrets</h2>
  <ul [hidden]="!displaySection[3]">
    <li *ngFor="let turret of tankDetails.turrets">
      <app-tank-module-details 
        (selected)="onSelected($event)" 
        [id]="turret" 
        [type]="'vehicleTurret'">
      </app-tank-module-details>
    </li>
  </ul>

  <hr>

  <h2 (click)="toogleSection(4)" class="collapsible">Suspensions</h2>
  <ul [hidden]="!displaySection[4]">
    <li *ngFor="let suspension of tankDetails.suspensions">
      <app-tank-module-details 
        (selected)="onSelected($event)" 
        [id]="suspension" 
        [type]="'vehicleChassis'">
      </app-tank-module-details>
    </li>
  </ul>
</div>