<h1>
  Accounts
</h1>

<div>
  <h3>Search for accounts</h3>
  <input #searchBox id="search-box" (input)="search(searchBox.value)" value="cagm" />

  <ul class="list-group">
    <li *ngFor="let account of accounts$ | async" class="list-group-item">
        <span class="badge">{{account.account_id}}</span> {{account.nickname}}
        <button (click)="downloadAccountDetails(account.account_id)" class="btn btn-primary">Details</button>
    </li>
  </ul>
</div>

<div *ngIf="accDetails !== undefined">
  <h3>Account Details</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Key</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Account Id</th>
        <td>{{accDetails.account_id}}</td>
      </tr>
      <tr>
        <th scope="row">Global rating</th>
        <td>{{accDetails.global_rating}}</td>
      </tr>
      <tr>
        <th scope="row">Username</th>
        <td>{{accDetails.nickname}}</td>
      </tr>
      <tr>
        <th scope="row">Created at</th>
        <td>{{accDetails.created_at | date:'medium' }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="tanks !== undefined">
  <h3>Tank list</h3>
  <ul class="list-group">
    <li *ngFor="let tank of tanks" class="list-group-item">
        <a routerLink="/tank/{{tank.tank_id}}">
          Id: {{tank.tank_id}}
        </a>
        Mark of mastery level: {{tank.mark_of_mastery | masteryLevel }}
    </li>
  </ul>
</div>
